nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 0rem 2.4rem;
    gap: 2.8rem;
    height: 6rem;
    background-color: 20% var(--background); 

    #nav-cta{
        display: flex;
        gap: 1rem;
        margin-left: auto;
    }

    &-burger {
        display:none;
        
        @media screen {
            
        }
    }
}