.glass {
    background: var(--glass-tint);
    backdrop-filter: blure(12px);
}

header{
    position: relative;
}
.nav-container {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    width: 100%;
    --height: 6rem;
    nav {
        
        width: 100%;
        
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border);
        padding: 0rem 2.4rem;
        gap: 2.8rem;
        height: var(--height);
        #nav-cta{
            display: flex;
            gap: 1rem;
            margin-left: auto;
        }
    
    
        background: var(--glass-tint);
        backdrop-filter: blur(var(--glass-blur)) brightness(1.1);
    }
}



.nav-burger {
    display:none;
}

@media (width <= 700px) {

    .nav-container {
        top: calc(100% - var(--height));
    }
    
    .nav-burger {
    display:block;
    }
    .nav-list {
        display: none;
    }
    .nav-burger {
    display:block;
    }
}