@use '../util/' as u;

html {
    box-sizing: content-box;
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: u.$font;
}

img {
    display: block;
    max-width: 100%;
}

hr {
    color: var(--border);
    background-color: var(--border);
}

* {
    border-color: var(--border);
}

::selection {
    background-color: rgb(0, 0, 0);
    color: gray;
}