
:root {
    color-scheme: light dark;

  /* ===== BASE ===== */
  --background: light-dark(#FFFFFF, #09090B);
  --foreground: light-dark(#09090B, #FAFAFA);

  --card: light-dark(#FFFFFF, #09090B);
  --card-foreground: light-dark(#09090B, #FAFAFA);
  
  --popover: light-dark(#FAFAFA, #09090B);
  --popover-foreground: light-dark(#09090B, #FAFAFA);

  /* ===== PRIMARY / SECONDARY ===== */
  --primary: light-dark(#18181B, #FAFAFA);
  --primary-foreground: light-dark(#FAFAFA, #18181B);
  --primary-hover-light: color-mix(in srgb, var(--primary), black 10%);
  --primary-hover-dark:  color-mix(in srgb, var(--primary), white 10%);
  --primary-hover:  light-dark(var(--primary-hover-light), var(--primary-hover-dark))
  
  --secondary: transparent;
  --secondary-foreground: light-dark(#18181B, #FAFAFA);
  --secondary-hover:  light-dark(var(--primary-hover-light), var(--primary-hover-dark))

  /* ===== STATE COLORS ===== */
  --muted: light-dark(#F4F4F5, #27272A);
  --muted-foreground: light-dark(#71717A, #A1A1AA);
  
  --accent: light-dark(#F4F4F5, #27272A);
  --accent-foreground: light-dark(#18181B, #FAFAFA);
  
  --destructive: light-dark(#EF4444, #8F3030);
  --destructive-foreground: #FAFAFA;

  /* ===== STRUCTURE ===== */
  --border: light-dark(#E4E4E7, #27272A);
  --input: light-dark(#E4E4E7, #27272A);
  --ring: light-dark(#18181B, #D4D4D8);

  /* ===== SHADOW & GLASS ===== */
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);

  --glass-blur: 12px;
  --glass-tint: light-dark(rgba(255,255,255,0.4), rgba(0,0,0,0.4));
}

