@mixin color($token) {
    color: var(--#{$token}-foreground);
    background-color: var(--#{$token});
    border: var(--border) solid 1px;
    outline: 1px solid var(--outline); 
    &:hover {
        background-color: var(--#{$token}-hover);
        border: var(--border) solid 1px;
    }
}

button, .btn { 
    padding: 0.8rem;
    border-radius: 0.6rem;  
    text-wrap: nowrap;
    cursor: pointer;
    outline: 1px solid var(--outline);
    border: 1px solid var(--border);
    background-color: transparent;
    &:hover {
        background-color: var(--secondary-hover);
    }
    
    
    &.primary {
        @include color(primary);
    }
    
    &.secondary {
        @include color(secondary);
    }

    &-icon {
        font-size: 2.4rem;
        font-weight: 300;
        padding: var(--space-xs);
        border: none;
    }
}


