.down-fade{
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    background: rgba(127, 255, 212, 0.263);
    background: linear-gradient(to left var(--background) transparent) ;
    
}